@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    /* font-weight: 400; */
    src: url('../fonts/NotoSerifJP/NotoSerifJP-Regular.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    /* font-weight: 400; */
    src: url('../fonts/NotoSansJP/NotoSansCJKjp-Regular.otf') format('opentype');
    font-display: swap;
}
html {
    background-color: #000;
}

body {
    font-family: 'Noto Sans Japanese', serif, sans-serif;
    color: #CCC;
    background-color: #000;
    background: url("../img/bg.jpg") no-repeat top left / cover;
    
}

h2 {
    font-size: 1.8rem;
}
.mw {
    max-width: 1200px;
}
.noto-serif {
    font-family: 'Noto Serif Japanese', serif, sans-serif;

}

.gold {
    color: #B6913D !important;
}
.gray {
    color: #1E1E1E !important;
}
.red {
    color: #D20000 !important;
}

.bg-gold {
    background-color: #B6913D !important;
}
.bg-gray {
    background-color: #1E1E1E !important;
}
.bg-red {
    background-color: #D20000 !important;
}
.text-gray {
    color: #CCCCCC;
}
.text-ref {
    color: #D20000;
}
.main-sidebar {
    background: #000;
}
.main-sidebar .nav-link {
    transition: all 0.2s;
}
.main-sidebar .nav-link:hover {
    opacity: 0.8;
}
.brand-link .brand-image {
    float: none;
    max-height: unset;
    width: 100%;
    max-width: 150px;
    min-height: unset;
}

.main-header .nav-link i, .main-sidebar .nav-link i, .news-box i {
    fill: #fff;
    color: #fff;
}
.main-sidebar .nav-link i, .news-box i {
    opacity: 0.3;
}

.header-card {
    background : -moz-linear-gradient(17.38% -57.06% -45deg,rgba(51, 51, 51, 1) 0%,rgba(19, 17, 18, 1) 44.28%);
    background : -webkit-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(19, 17, 18, 1) 44.28%);
    background : -webkit-gradient(linear,17.38% -57.06% ,82.62% 157.06% ,color-stop(0,rgba(51, 51, 51, 1) ),color-stop(0.4428,rgba(19, 17, 18, 1) ));
    background : -o-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(19, 17, 18, 1) 44.28%);
    background : -ms-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(19, 17, 18, 1) 44.28%);
    background : linear-gradient(135deg, rgba(51, 51, 51, 1) 0%, rgba(19, 17, 18, 1) 44.28%);

}
.left-card:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width: 5px;
    background-color: #B6913D;
}
.right-card:before {
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 5px;
    background-color: #D20000;
}
.header-card--num {
    font-size: 3.0rem;
}

.news-box-inner {
    max-height: 400px;
    overflow: scroll;
    scrollbar-base-color:#333;
    scrollbar-face-color:#333;
    scrollbar-color: #333 #333;
}
.news-box, .news-box .card  {
    background-color: #131112;
}
.news-box-inner .card:last-child .card-body-inner{
    border: none !important;
}
.news-box-inner::-webkit-scrollbar {
    display: none;
}
.news--date {
    color: #999;
}

/* .news-box .card-header {
    border-color: #999;
} */

.btn--like {
    background : -moz-linear-gradient(15.99% -31.63% -45deg,rgba(51, 51, 51, 1) 0%,rgba(26, 26, 26, 1) 44.28%);
    background : -webkit-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 44.28%);
    background : -webkit-gradient(linear,15.99% -31.63% ,84.01% 131.63% ,color-stop(0,rgba(51, 51, 51, 1) ),color-stop(0.4428,rgba(26, 26, 26, 1) ));
    background : -o-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 44.28%);
    background : -ms-linear-gradient(-45deg, rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 44.28%);
    background : linear-gradient(135deg, rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 44.28%);
    border-style : Solid;
    border-color : #808080;
    border-width : 0px;
    border-radius : 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
}
.btn--like:hover {
    opacity: 0.9;
    color: #999;
}
.card-body-inner {
    border-bottom-color: #666 !important;
}
